.container-fluid, .header {
	background-color: #005f04;
	margin-bottom: 20px;
}

body {
  background-color: #018c19;
}

a {
	text-decoration: none;
}

.logo a {
 color: #f0ad4e;
 letter-spacing: 5px;
}

.logo h1 {
	font-size: 260%;
}

.menu_album a:hover, .logo a:hover {
	color: #3b46e9;
}

.logo p {
	color: #71e294;
	font-size: 170%;
  letter-spacing: 3px;
}

.header {
	padding-top: 20px;
}

.foto, .video {
	width: 27%;
	margin-bottom: -78px;
}

.video {
	margin-left: 73%;
}

.content img {
	width: 100%;
}

.content {
	min-height: 100vh;
	margin-bottom: 5%;
}

.album, .cover  {
  height: 61px;
  background-color: darkgoldenrod;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: black;
  margin-bottom: 25px;
  padding-top: 1px;
}

.cover a {
	text-decoration: none;
}

.cover {padding-top: 7px;}

.album a {
	color: black;
	text-decoration: none;
	font-size: 35px;
}

.album p {
  padding-top: 10px;
  font-size: 25px;
}

.menu_album {
	background-color: #59ff3f;
  font-size: 130%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 25px;
}

.menu_album a {
	color: white;
}

.menu_album a {
	text-decoration: none;
	color: green;
}

.watch_album {
  background-color: darkgoldenrod;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-bottom: 25px;
  font-size: 30px;

}

.watch_album p {
  padding: 8px 0 5px 0;
}

.watch_album h2 {
  padding: 14px 0 14px 0;
  color: black;
}

.watch_album a {
	text-decoration: none;
	color: white;
}

.watch_album a:hover {
	color: #3b46e9;
}

.videomenu img {
	margin-bottom: 20px;
	border-radius: 100%;
}

iframe {
	border-radius: 10px;
}

.carousel-indicators [data-bs-target] {
	background-color: black;
}

.carousel-indicators {
	margin-bottom: -30px;
}

.carousel-control-prev, .carousel-control-next {
  height: 65px;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: black;
}

.carousel-inner img {
	margin-bottom: 20px;
}

.navbar-brand {
	padding: 0 0 50px 0;
}

.navbar-nav {
	margin-top: 75px;
	font-size: 25px;
}

.navbar-nav li {
	margin-left: 45px;
}

.nav-pills>li>a:hover {
	background-color: blue;
}

.card-body a {
	text-decoration: none;
	color: black;
}

.card-body {
  background-color: #59ff3f;
  font-size: 115%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body a:hover {
	color: blue;
}

p.active a, p.active {
	color: #3a3dd6;
}

.card {
	border: none;
}

.mb-3 {
	font-size: 103%;
	margin-bottom: 25px !important;
}

.menu {
  border-radius: 100%;
  height: 200px;
}

.btn-outline-success {
  --bs-btn-color: ##08110d;
  --bs-btn-border-color: #eef6f2;
}

.img_label {
	margin-bottom: 10px;
	margin-top: 10px;
}

.lables {
	margin-top: 60px;
	font-size: 18px;
}

.lables a {
	color: black;
}

footer {
	color: #f9f8f5;
  background-color: #005f04;
	padding: 25px 0 20px 0;
}

footer h1 {
	font-size: 35px;
}

@media (max-width: 768px) {

	 .cover {
	   padding-top: 3%;
	 }

	 .logo h1 {
	 		font-size: 300%;
	 }

	 .album_head h1 {
	 		font-size: 200%;
	  	padding-top: 2%;
	 }

	 .album h1 {
	 		font-size: 190%;
	 		padding-top: 2%;
	 }

	 .album a {
			font-size: 200%;
	 }

	.album p {
		font-size: 160%;
	 }

	.content {
		margin-bottom: 0;
	 }

	.menu_album a {
		color: black;
	}

}